# this config needs haproxy-1.1.28 or haproxy-1.2.1

<% isTLS = "false" %>
<% isDoS = "false" %>

<% 
@plan['pools'].each do | pool |
	pool['vms'].each do | vm |
		vm['components'].each do | component |
   				if (component['cookbook']=="TLS")
   					isTLS = "true"
				elsif (component['cookbook']=="DoSprotection")
					isDoS = "true"
   				end
   			end
   		end
   	end
%>

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	chroot /opt/haproxy/share/haproxy
	uid 99
	gid 99
	daemon
	#debug
	#quiet
        stats socket /opt/haproxy/haproxysock level admin

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	timeout	connect 5000
	<% if (isDoS=="false") %>
   		timeout	client 50000
    <% else %>
		timeout	client 5000
	<% end %>
	timeout	server 50000

frontend web1
	mode http
	option httpclose
	option forwardfor
	<% if (isTLS=="false") %>
   		bind *:80
    <% else %>
		bind *:1080
	<% end %>
	default_backend wc-all

backend wc-all
	balance roundrobin

<% 
@plan['pools'].each do | pool |
	pool['vms'].each do | vm |
		vm['components'].each do | component |
   				if (component['cookbook']=="WebPool" and (component['recipe']=="apache" or component['recipe']=="nginx")) 
%>
  server <%=component['private_ips'].first%> <%=component['private_ips'].first%>:80 check
<%
				end
		end
	end
end
%>
