#
# hosts         This file describes a number of hostname-to-address
#               mappings for the TCP/IP subsystem.  It is mostly
#               used at boot time, when no name servers are running.
#               On small systems, this file can be used instead of a
#               "named" name server.
# Syntax:
#    
# IP-Address  Full-Qualified-Hostname  Short-Hostname
#

127.0.0.1	localhost

# special IPv6 addresses
::1             localhost ipv6-localhost ipv6-loopback

fe00::0         ipv6-localnet

ff00::0         ipv6-mcastprefix
ff02::1         ipv6-allnodes
ff02::2         ipv6-allrouters
ff02::3         ipv6-allhosts

<%# old plan %>
 <%#
 @plan['IaaS']['VMs']['nodes'].each do | node |
   node['recipes'].each do | recipe |
    if (recipe['cookbook']=="WebPool" and (recipe['name']=="apache" or recipe['name']=="nginx"))
 %>
   <%# <%=node['private-ips'].first%>	<%# <%=node['node-id']%>
 <%#
   end
  end
 end
 %>

<%# new plan %>
<%
@plan['pools'].each do | pool |
	pool['vms'].each do | vm |
		vm['components'].each do | component |
   				if (component['cookbook']=="WebPool" and (component['recipe']=="apache" or component['recipe']=="nginx")) 
%>
   <%=component['private_ips'].first%>	<%=component['component_id']%>
<%
				end
		end
	end
end
%>
