{
	"https": {
		"port": "<%= @https_port %>",
		"path": "<%= @https_cert_path %>",
		"key": "<%= @https_cert_prefix %>.key",
		"cert": "<%= @https_cert_prefix %>"
	},
    "database": {
        "ip": "<%= @db_host %>",
        "type": "postgres",
        "name": "e2ee",
        "user": "postgres",
        "password": "<%= @db_pw %>"
    }
}