#!/bin/bash

NAME="SVA_Dashboard"                              									
DJANGODIR=<%= @dashboard_dir %>/dashboard
LOGFILE=<%= @dashboard_dir %>/logs/gunicorn_supervisor.log
SOCKFILE=<%= @dashboard_dir %>/run/gunicorn.sock
USER=<%= @user %>
GROUP=<%= @group %>
NUM_WORKERS=1                          									
DJANGO_SETTINGS_MODULE=dashboard_web.settings
DJANGO_WSGI_MODULE=dashboard_web.wsgi

echo "Starting $NAME as `whoami`"

cd $DJANGODIR

source <%= @venv_dir %>/bin/activate
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR
python $DJANGODIR/manage.py migrate
python $DJANGODIR/manage.py collectstatic --noinput
python $DJANGODIR/manage.py migrate


exec gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --user=$USER \
  --bind=unix:$SOCKFILE \
  --log-level=debug \
  --log-file=-